body{
     font-family:sans-serif;
     color:whitesmoke;
     background-image:linear-gradient(to top right,#3e19a5,#7ec9e4);
     background-repeat:no-repeat;
     background-size: auto;
}
/* ********************container******************* */
.container-fluid{
    padding:1% 15% 7% 15%;

}

/********************** navbar *****************/

.navbar{
        padding: 10px;
         
}
.navbar-brand{
    padding-left:0;
    font-size:2.5rem;
}
.navbar-nav{
   float: right;
}
.nav-item{
    font-size:1.7rem;
    padding:0 18px;
    
}
/* ****************************testimonial******************* */
.row{
    margin:100px 0 30px 0;
}
.row h1{
    margin-top:45px;
}
.main-heading{
    font-family: "Roboto";
    line-height: 2.5rem;
    padding-left: 0;
    width:330px;
}
#heading-btn{
    margin-left:3px;
}
.para{
    font-size:1.7rem;
    color:#F4F9FB;
}
.btn{
    margin:12px 0;
}
#col{
    padding-left:0 ;
}
.form-signin{
    padding:10px 30px 75px 30px;
    background-color:white;
    width:300px;
    height:340px;
    margin-left: 100px;
    border-radius:2px;
}
.sign-title{
    color:#BDBEBE;
    padding-bottom:8px;
    text-align: center;
}
.form-control{
    margin:10px 0;
}
p{
    color:#BDBEBE;
    margin-left:4px;
}
@media (max-width: 960px) {
    .navbar-brand{
     display: inline-flex;
    }
    #website{
      display: block;
    }
    .main-heading{
     text-align: center;
    }
    .form-signin{
        margin-left: 0;
        margin-top: 30px;;
    }
  }
